* {  
    margin:0;  /* 브라우저 기본 마진 리셋 */
    padding:0;  /* 브라우저 기본 패딩 리셋 */
    box-sizing: border-box;  /* 테두리까지 포함해서 박스 모델 너비로 계산 */
  }
  #container {
    width:1200px;   /* 내용 전체의 너비 */
    height:00px;
    margin:20px auto;  /* 내용을 화면 가운데 배치하도록 좌우 마진을 auto로 */
    text-align: center;
  }
  #header{
    margin-top: 100px;
    width:100%;  /* 부모 요소의 너비와 똑같게 */
    height:100px;  /* 헤더의 높이 */
    
  }
  h1{
    font-family:'Nunito',serif;
    font-size: 40px;
    color:white;
    text-align: center;
  }
  h2{
    margin-top:100px;
    margin-bottom:20px;
    font-family:'Nunito',sans-serif;
    font-size:30px;
    color:black;
    text-align: center;
  }
  #email, #password {
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    background-color: rgb(212, 212, 212);
    margin: 5px auto; /* 두 박스의 간격 조정 */
    padding-left: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: black;
    text-align: left;
    border: none; /* 박스 테두리 제거 */
  }
  
  
  #p3{
    margin:40px auto;
    font-family: 'Nunito',sans-serif;
    font-size:15px;
    color:black;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  #Signup{
    margin-top:150px;
    font-family:'Nunito',sans-serif;
    font-size:30px;
    color:white;
    text-align: center;
    
  }
  #Log-in{
    width:600px;  /* 사이드바의 너비 */
    height:450px;  /* 사이드바의 높이 */
    background-color:white;
    border-radius: 2%;
    box-shadow: -2px -2px 3px 7px gray;
    float:left;  /* 왼쪽으로 플로팅 */
  }
  button{
    display:block;
    margin:-20px auto 0;
    background-color: rgb(76,76,158);
    padding: 10px 20px;
    border:none;
    color:white;
    border-radius: 5px;
  }
  #Sign-up {
    width:600px;  /* 본문의 너비 */
    height:450px;  /* 본문의 높이 */
    border-radius: 2%;
    background-color:rgba(162, 118, 118, 0.876);
    box-shadow: 2px -2px 3px 7px black;
    float:left;  /* 왼쪽으로 플로팅 */
  }
  #p4{
    margin:40px auto;
    text-align: center;
    font-family: 'Nunito',sans-serif;
    font-size:15px;
    font-weight: bold;
  }
  #button1{
    display:block;
    margin:-20px auto 0;
    background-color: rgba(21, 15, 15, 0.664);
    color: white;
    border-radius : 5px;
    border : 2px solid black;

  }
  #button2{
    display:block;
    margin:-20px auto 0;
    background-color: rgba(21, 15, 15, 0.664);
    padding: 10px 20px;
    color:black;
    border-radius: 5px;
    border:2px solid black;
  }
